h1 {
    font-size: x-large;
/*     margin-left: -1rem; */
  }
 

  section {
    color: black;
    margin: auto;
    /* border: 1px solid white; */
    text-align: justify;
    padding: 20px;
    margin-bottom: 20px;
    /* border-radius: 1rem; */
    margin-left: 15px;
  }
  
    main section h2, main section>p {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }


      @media screen AND (min-width:768px)
       {
          
      }
 

        #populaires {
          background-color: #F2F2F2;
        }
        
      @media screen AND (min-width:1024px){

        main section {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          width: 30%;
        }

        main section#hebergements 
        {
          width: 65%;
          border-radius: 1rem;
          height: 710px;
          background-color: #F2F2F2;
        }

        section#activites 
        {
          /* width: 98%; */
          border-radius: 1rem;
          background-color: white;
          display: grid;
          grid-template-columns: auto auto auto auto;
          grid-template-rows: 4rem 12rem 4rem 4rem 12rem;
        }

        section#hebergements p
        {
          font-weight:bold; 
        }

        section#hebergements article p
        {
          font-weight:normal;
        }



        section#populaires {
        
          width: 25%;
          border-radius: 1rem;
          height:44.3rem
        }
        
        h2#Activités 
        {
          grid-column-start: 1;
          grid-column-end: 5;
        }

        form 
        {
          display: inline;
          margin-left: 2rem;
      }
 
      h4
      {
          
          display: inline;
          margin-block-start: 1.33em;
          margin-block-end: 1.33em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          margin-left: 1rem;
      }

      h5
      {
        margin-left: 1rem;
        font-weight:normal;
        font-size: medium;
      }
      

    }


      
    
   
